@import './variables.scss';

button {
    border: none;
    border-radius: .2em;
    background-color: $button-background-color;
    color: $button-text-color;
    padding: .2em;
    font-size: x-large;
    margin: .2em;
    min-height: 2em;
}

button:active {
    background-color: $button-touched-background-color;
}

button:hover {
    background-color: $button-hover-background-color;
}

button.active {
    background-color: $button-selected-background-color;
}