$button-background-color: whitesmoke;
$button-touched-background-color: grey;
$button-selected-background-color: lightgreen;

$button-text-color: black;
$button-touched-text-color: white;
$button-selected-text-color: rgb(80, 80, 80);