@import '../styles/variables.scss';
@import '../styles/buttons.scss';

img {
    margin: 1em;
    max-height: 75px;
    object-fit: contain;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-line {
    height: 10px;
    background: $line-background;
}

.header {
    width: 100%;
    text-align: center;
    flex: 1 1 5%;
    background: $header-background;
    color: $header-text-color;
}

.header-name {
    font-size: x-large;
}

.error {
    justify-content: center;
    align-items: center;
}

.error-popup {
    padding: 1em;
    border-radius: 1em;
    background-color: $error-background-color;
    color: $error-background-text-color;
    margin: 0.5em;
}

.error-message {
    font-size: xx-large;
    margin-bottom: 2em;
}

.download-container {
    background: $footer-background;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    flex: 1 1 5%;
    display: flex;
    justify-content: center;
    background: $footer-background;
    color: $footer-text-color;

    span {
        padding: 0.2em;
        font-size: larger;
    }
}