@import '../styles/variables.scss';
@import '../styles/buttons.scss';

img {
    margin: 1em;
    max-height: 75px;
    object-fit: contain;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-line {
    min-height: 10px;
    background: $line-background;
}

.header {
    width: 100%;
    text-align: center;
    flex: 0 1 5%;
    background: $header-background;
    color: $header-text-color;
    display:flex;
    flex-direction: column;
}

.header-name {
    font-size: x-large;
}

.header-item {
    flex: 1 1 0;
    display: flex;
}

.left {
    order: 0;
    flex-direction: column;
}

.right {
    order: 1;
    flex-direction: column;
}

.logo {
    order: 2;
    flex-direction: column;
}

.left, .right {
    button {
        color: $header-text-color;
        padding: 1em;
        border: 1px solid #ccc;
    }

    button:hover {
        background-color: $global-color-primary;
        color: $global-color-eee;
        border: none;
    }
}

app-fullscreen-message, app-load-projects-dialog, app-help {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
}

app-project {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.download-container {
    background: $footer-background;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    flex: 0 1 5%;
    display: flex;
    justify-content: center;
    background: $footer-background;
    color: $footer-text-color;

    span {
        padding: 0.2em;
        font-size: larger;
    }
}

@media screen and (min-width: 600px) {
    .header {
        flex-direction: row;
    }

    .left, .right {

        button {
            flex: 1 1 0;
        }
    }

    .right {
        order: 3;
        flex-direction:  row;
    }
    
    .left {
        align-items: flex-start;
        order: 0;
    }
}