@import '../styles/variables.scss';
@import '../styles/buttons.scss';

img {
    margin: 1em;
    max-height: 75px;
    object-fit: contain;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-line {
    height: 10px;
    background: $line-background;
}

.header {
    width: 100%;
    text-align: center;
    flex: 1 1 5%;
    background: $header-background;
    color: $header-text-color;
}

.header-name {
    font-size: x-large;
}

app-fullscreen-message {
    height: 100vw;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10;
}

.download-container {
    background: $footer-background;
    display: flex;
    justify-content: center;
}

.footer {
    width: 100%;
    flex: 1 1 5%;
    display: flex;
    justify-content: center;
    background: $footer-background;
    color: $footer-text-color;

    span {
        padding: 0.2em;
        font-size: larger;
    }
}