@import '../../../styles/variables.scss';

button {
    border: none;
    border-radius: .2em;
    background-color: $button-background-color;
    color: $button-text-color;
    padding: .2em;
    font-size: medium;
}

button:active {
    background-color: $button-touched-background-color;
    color: $button-touched-text-color;
}

button.active {
    background-color: $button-selected-background-color;
    color: $button-selected-text-color
}

.answer-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media screen and (min-width: 600px) {
    .question {
        text-align: center;
    }

    .answer-section {
        flex-direction: row;
        align-content: stretch;
        justify-content: center;
        gap: 0.2em;
    }

    button {
        flex: 0 1 15%;
        min-height: 5em;
    }
}