<div class="question">
    <h1>{{question.prompt}}</h1>
    <div class="answer-section">
        <button *ngFor="let i = index; let answer of question.answers" [class.active]="answer.selected" (click)="onAnswerClicked(answer)">{{answer.prompt}}</button>
    </div>
    <div *ngFor="let i = index; let answer of question.answers" class="child-question-section">
        <div *ngIf="question.answers[i].selected && question.answers[i].questions.length != 0">
            <app-question-recursive *ngFor="let i = index; let child of question.answers[i].questions" [question]="child"></app-question-recursive>
        </div>
    </div>
</div>
