@import '../../../styles/variables.scss';
@import '../../../styles/buttons.scss';

button.active {
    background: $global-color-secondary;
    color: $global-color-eee;
}

.container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    gap: 0.5em;
}

.secondary-container {
    background-color: $global-color-tertiary-2;
    border-radius: 1em;
    margin: 20em .5em 20em .5em;
    flex: 1 1 0;

    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    text-align: center;
    color: $global-color-eee;

    * {
        flex: 1 1 0;
    }

    .exit {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    button {
        max-width: 5em;
        min-width: 5em;
    }
}

.project-btn-container, .project-load-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.project-btn-container {
    flex: 1 1 0;
}

article {
    flex: 1 1 90%;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message {
    flex: 1 1 0;
}

span {
    display: block;
}

@media screen and (min-width: 600px) {
    .secondary-container {
        margin: auto;
        padding: 1em;
        max-height: 50em;
        min-height: 25em;
        max-width: 50em;
    }
}