<section class="container">
    <div class="secondary-container">
        <header class="text-container">
            <div class="notice"><i>Projects are currently stored in your local browser's data. Clearing your browser history will remove this data if you wish. Make sure to use the same browser when building projects to resume them.</i></div>
            <div class="header"><h1>{{header}}</h1></div>
            <div class="exit"><button (click)="close()">Exit</button></div>
        </header>
        <section class="project-btn-container">
            <button class='select-btn' (click)="onSelectProject(i)" [class.active]="selected() == i" *ngFor="let project of data.projects, let i = index">{{project.number.toUpperCase()}}</button>
        </section>
        <section class='project-load-container'>
            <button class='load-btn' (click)="loadSelectedProject()">Load Local Project</button>
            <button *ngIf='' class='delete-btn'>Delete Local Project</button>
        </section>
    </div>
</section>
