<section class="container">
    <div class="secondary-container">
        <header class="text-container">
            <div></div>
            <div><h1>{{header}}</h1></div>
            <div class="exit"><button (click)="close()">Exit</button></div>
        </header>
        <section class="project-btn-container">
            <button class='select-btn' (click)="onSelectProject(i)" [class.active]="selected() == i" *ngFor="let project of data.projects, let i = index">{{project.number.toUpperCase()}}</button>
        </section>
        <section class='project-load-container'>
            <button class='load-btn' (click)="loadSelectedProject()">Load Selected Project</button>
            <button *ngIf='' class='delete-btn'>Delete Selected Project</button>
        </section>
    </div>
</section>
