@import './styles/variables.scss';

html, body {
    margin: 0px;
    padding: 0px;
    color: $color-text;
    font-family: 'Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans';
    background: $body-background;
}

::-webkit-scrollbar {
    display: none;
}

app-root {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    display: block;
}